<p>Hello!</p>

<a routerLink=""><button> back to search</button></a>

<div *ngFor="let movie of selectedMovie"> 
    <mat-card>
      <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}" class="mat-card-image">
      <mat-card-content>
        <span class="mat-card-title">{{ movie.title }}</span>
        <p class="mat-card-subtitle">{{ movie.overview }}</p>
        <p class="mat-card-content">{{movie.budget}}</p>
        <p class="mat-card-content">{{ movie.release_date | date }}</p>
        <p class="mat-card-content">{{movie.revenue}}</p>
        <p class="mat-card-content">Average Rating: {{ movie.vote_average }}</p>
        <p class="mat-card-content">{{movie.vote_count}}</p>
        <p class="mat-card-content">{{movie.spoken_languages}}</p> 
    
    </mat-card-content> 
    <input type="range" 
    id="rating" min="0.5" max="10" step="0.5" name="rating" #range 
    (mouseup)="readRating(range.value)" (mousedown)="readRating(range.value)" (drag)="readRating(range.value)">{{rated}} 
    <button  (click)="postRating()">Post Rating</button>
    </mat-card>
  </div> 

