<h1 style="text-align: center; font-weight: bolder;">Movie Details</h1>

<fieldset>
  <div>
    <!-- *ngFor="let movie of selectedMovie" only has one movie, but it SHOULD work-->
    <mat-card>
      <img mat-card-image [src]="'https://image.tmdb.org/t/p/w500' + results.poster_path" alt="{{ results.title }}"
        class="mat-card-image">
      <mat-card-content>
        <span class="mat-card-title">{{ results.title }}</span>
        <p class="mat-card-subtitle">OverView : {{ results.overview }}</p>
        <p class="mat-card-content">Budget : {{results.budget}}</p>
        <p class="mat-card-content">ReleaseDate : {{ results.release_date | date }}</p>
        <p class="mat-card-content">Revenue : {{results.revenue}}</p>
        <p class="mat-card-content">Average Rating : {{ results.vote_average }}</p>
        <p class="mat-card-content">VoteCount: {{results.vote_count}}</p>
        <div *ngFor="let lang of results.spoken_languages">
          <p class="mat-card-content">Spoken Languages: {{lang.english_name}}</p>
        </div>
      </mat-card-content>
      <input type="range" id="rating" min="0.5" max="10.0" step="0.5" name="rating" #range
        (mouseup)="readRating(range.value)" (mousedown)="readRating(range.value)"
        (mousemove)="readRating(range.value)">{{rated}}
      <button (click)="postRating()">Post Rating</button>
    </mat-card>
  </div>
</fieldset>


<footer>
  <a routerLink=""><button (click)="closePopup()"> Back to SearchPage</button></a>
</footer>